html, body {
	background-color: var(--light-grey3);
}

.Bp_Home_round {
	border-radius: 50%;
	background: var(--bp-blue); 
	opacity: 0.19;
	float: left;
	height: 30px;
	width: 30.28px;
}

.Bp_Home_headerText {
	width: 40.94%;
	float: left;
	height: 19px;
	background: var(--dark-grey1);
	opacity: 0.19;
	margin-top: 6px;
	margin-left: 9.08px;
}

.Bp_Home_blockText {
	width: 100%;
	float: left;
	height: 47px;
	background: var(--light-grey1);
	opacity: 0.5;
}

.Bp_Home_innerBlockText {
	width: 35.968%;
	height: 11px;
	background: var(--light-grey1);
	opacity: 0.5;
	margin-top: 9px;
}

.Bp_Home_innerBlockText2 {
	width: 28.38%;
	margin-top: 4px;
	height: 11px;
	background: var(--light-grey1);
	opacity: 0.5;
}

.Bp_Home_boxdata {
	width: 100%;
	padding-bottom: 17px;
	border-radius: 3px;
	background-color: var(--white);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	float: left;
}

.Bp_Home_tabtext {
	height: 11px;
	width: 100%;
	opacity: 0.19;
	margin-bottom: 4px;
}

.Bp_Home_dataone {
	padding-top: 12.60px;
	padding-left: 4.6736%;
}

.Bp_Home_Mockdataone {
	padding-top: 12.60px;
	padding-left: 4.6736%;
}

.Bp_Home_datatwoActivity {
	padding-top: 4px;
	padding-left: 4.6736%;
	min-height: 39px;
}

.Bp_Home_datatwo {
	padding-left: 4.6736%;
	min-height: 35px;
}

.Bp_Home_datatwoMock {
	padding-top: 4px;
	padding-left: 4.6736%;
	min-height: 39px;
}

.Bp_Home_nopadding {
	padding: 0;
}

.Bp_Home_marginZero {
	margin: 0;
}

.datatwo li a {
	padding: 10px 9.22px 6px 15px;
}

.datatwo li {
	width: 20%;
}

.Bp_Home_cardblockWrapper {
	padding-top: 13.5px;
}

.bp-activity-feed {
	padding-left: 14px;
}

.bp-panel-transaction {
	-webkit-animation: fadeinout 0.5s ease;
	animation: fadeinout 0.5s ease;
}

@keyframes fadeinout {
	0% {
		opacity: 1;
	}
	33% {
		opacity: .5;
	}
	50% {
		opacity: 0;
	}
	66% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.Bp_Home_cardblockChildWrapper {
	cursor: pointer;
	border-left: 2px solid transparent;
}

.Bp_Home_cardblockChildWrapper_Loading {
	border-left: 2px solid transparent;
}

.Bp_Home_cardblockChildWrapper:hover {
	background-color: var(--light-grey3);
	transition: color 0.2s ease;
}

.Bp_Home_card-block {
	padding-top: 20.41px;
	padding-left: 4.6736%;
}

.Bp_Home_cardblockchild {
	padding-top: 4.25px;
	padding-bottom: 4.25px;
	padding-left: 4.6736%;
}

.Bp_Home_cardblocklong {
	padding-top: 20.41px;
	padding-left: 4.6736%;
	padding-bottom: 5.3%;
	border-bottom: 1px solid var(--light-grey1);
}

.Bp_Home_blockWidth {
	width: 27.454%;
}

.Bp_Home_progressBarWidth {
	width: 70%;
	float: left;
	padding-left: 5.6736%;
}

.Bp_Home_progressBarWidthLong {
	width: 72%;
	float: left;
	padding-left: 5.6736%;
}

.Bp_Home_cardWrapper {
	padding-left: 1.46%;
	width: 67%;
}

.card-header-tabs .Bp_Home_listActive {
	width: 12.258%;
	margin-right: 6.5%;
}

.card-header-tabs .Bp_Home_listActive a {
	padding: 10px 0px 10px 0px;
	border: none;
}

.Bp_Home_innerBlockTextLong {
	width: 98.65%;
	height: 11px;
	opacity: 0.5;
	margin-top: 5px;
}

.Bp_Home_innerBlockTextLongBeta {
	width: 100%;
	height: 11px;
	opacity: 0.5;
	margin-top: 5px;
}

.Bp_Home_innerBlockTextLong2Beta {
	width: 77.7%;
	height: 11px;
	opacity: 0.5;
	margin-top: 8px;
}

.Bp_Home_innerBlockTextLong2BetaLong {
	width: 85.3%;
	height: 11px;
	opacity: 0.5;
	margin-top: 8px;
}

.Bp_Home_innerBlockText2Long {
	width: 56%;
	margin-top: 8px;
	height: 11px;
	opacity: 0.5;
}

.Bp_Home_cardTop {
	padding-bottom: 14px;
	float: left;
	width: 49.9%;
}

.Bp_Home_cardSize {
	width: 100%;
}

.Bp_Home_cardSizeExtended {
	width: 100%;
}

.Bp_Home_cardMarginExtended {
	float: left;
	padding-right: 14px;
}

.Bp_Home_cardMarginExtendedMock {
	padding-right: 14px;
}

.Bp_home_topCardHead {
	margin-top: 3px;
}

.Bp_Home_round_next {
	border-radius: 50%;
	background-color: var(--light-grey1);
	opacity: 0.51;
	float: left;
	height: 30px;
	width: 30px;
}

.Bp_home_LongCardBlock {
	height: 564px;
	width: 100%;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.Bp_home_LongCardBlockMock {
	height: 585px;
	width: 100%;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.timeline-item {
	background: var(--light-grey1);
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	width: 100%;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #00A3DB;
	background: linear-gradient(to right, #00A3DB 8%, #00beff 18%, #00A3DB 33%);
	background-size: 800px 104px;
	position: relative;
}

.animated-background1 {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #DDDDDD;
	background: linear-gradient(to right, #DDDDDD 8%, #EEEEEE 18%, #DDDDDD 33%);
	background-size: 800px 104px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
	top: 0;
	left: 40px;
	right: 0;
	height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
	top: 10px;
	left: 40px;
	height: 8px;
	width: 10px;
}

.background-masker.header-bottom {
	top: 18px;
	height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
	top: 24px;
	height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
	width: auto;
	left: 300px;
	right: 0;
}

.background-masker.subheader-right {
	left: 230px;
}

.background-masker.subheader-bottom {
	top: 30px;
	height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
	top: 40px;
	left: 0;
	right: 0;
	height: 6px;
}

.background-masker.content-top {
	height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
	width: auto;
	left: 380px;
	right: 0;
	top: 60px;
	height: 8px;
}

.background-masker.content-second-line {
	top: 68px;
}

.background-masker.content-second-end {
	left: 420px;
	top: 74px;
}

.background-masker.content-third-line {
	top: 82px;
}

.background-masker.content-third-end {
	left: 300px;
	top: 88px;
}

.Bp_Home_Cardheader {
	background-color: var(--light-blue);
	width: 100%;
	border-radius: 3px 3px 0 0;
	display: inline-block;
	border-bottom: 1px solid var(--light-grey1);
}

.Bp_Home_main_container {
	margin: 0 auto;
	padding: 20px;
	max-width: 1440px;
}

.BP_Home_storeLogo {
	margin-top: 5px;
}

.Bp_Home_headerTextData {
	width: 80%;
	float: left;
	margin-left: 9.08px;
}

.Bp_Home_headerTextData span {
	width: 100%;
	color: var(--dark-grey1);
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}

.Bp_Home_listActiveList {
	width: auto;
	margin-right: 4%;
}

.Bp_Home_listActiveList a p {
	color: var(--bp-blue);
	font-size: 12px;
	letter-spacing: 0.04em;
	font-weight: 600;
	line-height: 15px;
	text-align: center;
	opacity: 1;
	text-transform: uppercase;
}

.card-header-tabs .Bp_Home_listActiveList a {
	padding: 10px 10px 10px 10px;
	border: none;
	position: relative;
}

.card-header-tabs .Bp_Home_listActiveList a:hover:before {
	transform: scale3d(1, 1, 1);
	color: var(--bp-blue-hover);
}

.card-header-tabs .Bp_Home_listActiveList a::before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--bp-blue);
	transition: 0.5s transform ease;
	transform: scale3d(0, 1, 1);
	transform-origin: 50% 50%;
}

.Bp_Home_listActiveList .bp-text-activiyFeedLast i {
	width: 15px;
    height: 15px;
    position: absolute;
    bottom: 11px;
    left: 94px;
}

.card-header-tabs .Bp_Home_listActiveList .BP_Home_IsActive:hover>p {
	color: var(--bp-blue-hover);
	background: none;
	border: none;
	transition: color 0.2s ease;
}

.card-header-tabs .Bp_Home_listActiveList .BP_Home_IsActive>p {
	color: var(--bp-blue);
	background: none;
	border: none;
}

.card-header-tabs .Bp_Home_listActiveList .BP_Home_IsActive::before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--bp-blue);
	transition: 0.5s transform ease;
	transform: scale3d(1, 1, 1);
	transform-origin: 50% 50%;
}

.Bp_Home_blockTextData {
	width: 100%;
	float: left;
	border-radius: 3px;
}

.Bp_Home_blockTextDataspan {
	padding: 9px 0px;
	width: 100%;
	color: var(--white);
	font-size: 20px;
	font-weight: 300;
	line-height: 29px;
	float: left;
	text-align: center;
}

.Bp_Home_innerBlockDataText2 {
	width: 100%;
	margin-top: 4px;
	color: var(--dark-grey1);
	font-size: 16px;
	line-height: 19px;
	padding-top: 10px;
}

.Bp_Home_innerBlockDataTextLong2 {
	width: 100%;
	color: var(--dark-grey1);
	font-size: 16px;
	line-height: 22px;
}

.Bp_Home_cardblocklongBeta {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	float: left;
	width: 100%;
}

.Bp_Home_blue_text {
	color: #1E8FE1;
}

.Bp_Home_Yellow_text {
	color: #FDC228;
}

.Bp_Home_purple_text {
	color: #B07BE0;
}

.card-header-tabs .Bp_Home_listActiveList a:hover>p {
	color: var(--bp-blue-hover);
	background: none;
	border: none;
	transition: color 0.2s ease;
}

.card-header-tabs .Bp_Home_listActiveList a:hover {
	background: none;
	border: none;
	color: var(--bp-blue-hover);
}

[style*='--bg-hover']:hover {
	border-left: 2px solid var(--bg-hover) !important;
	transition: color 0.2s ease;
}

.BP_Home_NoFilterList {
	padding-bottom: 10px;
}

.BP_Home_activity_history_data {
	height: 471px;
	overflow-y: auto;
	width: 100%;
}

.BP_Home_activity_history_Mock {
	height: 500.41px;
	overflow-y: auto;
	width: 100%;
}

.Bp_Home_Activity_List {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid red;
	padding-top: 20.41px;
	padding-left: 4.6736%;
	padding-bottom: 2.8%;
}

.Bp_Home_Activity_List li {
	list-style-type: none;
}

.Bp_Home_Activity_List_Img {
	width: 7%;
	float: left;
	margin: 0;
}

.Bp_Home_Activity_List_Text {
	width: 90%;
	float: left;
	margin: 0;
	padding-left: 5.6736%;
}

.BP_HomeBorder_Bottom {
	border-bottom: 1px solid #DCDCDC;
}

[style*='--activityText'] a {
	color: var(--activityText) !important;
}

[style*='--activityImg'] svg {
	stroke: var(--activityImg) !important;
}

.BP_Home_ActivityText {
	color: var(--dark-grey1);
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	width: 98%;
	float: left;
}

.Bp_Home_svg_align {
	width: 5%;
	padding-top: 10px
}

.Bp_Home_progressBarWidthLongData {
	width: calc(100% - 40px);
	float: left;
	padding-left: 4.6736%;
}

.Bp_Home_boxdataMock {
	width: 100%;
	padding-bottom: 17px;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	float: left;
}

.BP_Home_noborder {
	border-bottom: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
	background: transparent;
}

@media (min-width:985px) {
	.Bp_Home_listActiveList {
		margin-right: 4%;
	}
	.card-header-tabs .Bp_Home_listActive {
		margin-right: 8%;
	}
}

@media (min-width:1293px) {
	.Bp_Home_listActiveList {
		margin-right: 3.5%;
	}
	.card-header-tabs .Bp_Home_listActive {
		margin-right: 7.5%;
	}
}

@media (min-width:670px) and (max-width:1292px) {
	.card-header-tabs .Bp_Home_listActiveList a {
		padding: 10px 0px 10px 0px;
	}
    
    .Bp_Home_listActiveList .bp-text-activiyFeedLast i {
	    left: 84px;
	}
}

@media(max-width:669px) {
	.Bp_Home_cardTop {
		width: 100%;
	}
	.Bp_Home_cardblocklongBeta {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	.Bp_Home_cardMarginExtended {
		padding-right: 0px;
	}
	.Bp_Home_dataone {
		padding-left: 15px;
	}
	.Bp_Home_datatwo {
		padding-left: 15px;
	}
	.Bp_Home_cardMarginExtendedMock {
		padding-right: 0px;
	}
	.Bp_Home_Mockdataone {
		padding-left: 15px;
	}
	.Bp_Home_datatwoMock {
		padding-left: 15px;
	}
	.Bp_Home_cardblocklong {
		padding-left: 15px;
	}
}

@media(max-width:1023px) {
	.Bp_Home_dataone {
		padding-left: 15px;
	}
	.Bp_Home_datatwo {
		padding-left: 15px;
	}
	.Bp_Home_Mockdataone {
		padding-left: 15px;
	}
	.Bp_Home_datatwoMock {
		padding-left: 15px;
	}
	.Bp_home_topCardHead {
		width: 100%;
	}
	.Bp_home_LongCardBlock {
		margin-left: 0px;
		width: 100%;
	}
	.Bp_Home_cardblocklongBeta {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	.Bp_Home_cardblocklong {
		padding-left: 15px;
	}
	.bp-activity-feed {
		padding-left: 0;
	}
	.Bp_home_LongCardBlockMock {
		margin-left: 0px;
		width: 100%;
	}
}

@media(max-width:500px) {
	.Bp_Home_listActiveList {
		margin-right: 3%;
	}
	.card-header-tabs .Bp_Home_listActiveList a {
		padding: 10px 0px 10px 0px;
	}
    
    .Bp_Home_listActiveList a.bp-text-activiyFeedLast i {
	    left: 84px;
	}
}

@media(max-width:380px) {
	.Bp_Home_listActiveList a p {
		font-size: 9px;
	}
}

.bp-panel-transition {
	-webkit-animation: fadeinout .8s ease-out;
	animation: fadeinout .8s ease-out;
	position: relative;
	left: 0
}

@keyframes fadeinout {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
	}
}

.Bp_Home_copyrightData {
	text-align: center;
	height: 17px;
	width: 100%;
	color: var(--grey);
	font-size: 12px;
	line-height: 17px;
	padding-top: 19px;
	padding-bottom: 20px;
}

.BP_Home_Terms_And_Policy {
	color: var(--grey);
	font-size: 12px;
	line-height: 17px;
	text-decoration: underline;
	
}

.BP_Home_Terms_And_Policy:hover {
	color: var(--dark-grey2);
	text-decoration: none;
}